@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{  
    margin: 0;
    padding: 0;
    font-weight: 200; 
    font-family: Quicksand, serif;
}
.container{
    height: 1vh;
    width: 500px;
    padding: 5px;
    height: 600px;
    background-color: white;
    padding: 0; 
    margin: 0; 
    position: relative;
    overflow: auto;
    border-radius: 10px; 
    border: 0.1px lightcyan solid; 
}
.header{
    background-color: dodgerblue;
    background-image: url("background-toDo.jpg");
    width: 100%;
    height: 150px;
    padding: 0;
    position: relative;
}

.content{
    display: grid;
    max-height: 390px;
    overflow: auto; 
    
}
#list{
    text-decoration: none;
    list-style-type: none;
    display: inline-table;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    
}
.item{
    display: flex;
    justify-items: row;
    justify-content: space-between;
    font-size: 13px;
    width: 98%;
    padding: 5px;
    font-size: 20px;
    word-break: break-all;
    border: 1px lightgray solid;
  
    

}


.item > i{
    font-size: 20px;
    cursor: pointer;
    color: dodgerblue;
}
.lineThrough{
    text-decoration: line-through;
}
.clear{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    font-weight: 500; 
}

.add-item {
    display: flex;
    justify-items: row; 
    justify-content: space-around;
    position: absolute;
    bottom: 0; 
    margin-left: 30px; 
    width: 90%;
    height: 50px;
    

}
.add-item #input{
    width: 90%;
    height: 30px;
}
.add-item > i{
    font-size: 30px;
    color: dodgerblue;
}
#date{
    position: absolute;
    bottom: 0; 
    left: 10px; 
    font-size: 30px; 
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}
